@import "../../common/colors.scss";

.card-item {
  min-height: 450px;
  height: 100%;

background: rgba(255, 255, 255, 0.11);
border-radius: 16px;
box-shadow: 0 4px 2px rgba(0, 0, 0, 0.132);
backdrop-filter: blur(10.1px);
-webkit-backdrop-filter: blur(5.1px);
border: 1px solid rgba(255, 255, 255, 0.3);
overflow:hidden;
  cursor: pointer;
  transition: all 0.3s ease;
  margin-bottom: 30px;
  margin: 15px;

  &:hover {
    transform: scale(1.06);
  }

  .card-top {
    padding: 10px;
  
    img {
      width: 100%;
      max-height: 300px;
      border-radius: 5px;
      object-fit: cover;
    }
  }

  .card-bottom {

    .card-info {
      color: $font-primary;
      margin-top: 10px;
      padding: 10px;
      h4 {
        font-size: 18px;
        font-weight: 400;
        // margin-bottom: 10px;
      }
      p {
        font-size: 16px;
        font-weight: 200;
      }
    }
}
}




